<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat possimus, assumenda hic culpa accusantium in rerum
    harum. Soluta architecto autem aut harum necessitatibus ratione, error officia laborum modi vel iure.
    Architecto distinctio voluptatum quia consequatur inventore itaque, laboriosam porro ea adipisci suscipit, tenetur
    omnis placeat hic debitis ipsum atque fuga aspernatur, corrupti nesciunt! Non fugit exercitationem placeat veniam
    odit nam!</div>
<div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
</div>